.title{
  font-family: fantasy;
  font-size: 36px;
  text-align: center;

}

.CLC{
  color: #00cc66;
  font-weight: bold;

}

.about{
  font-size: 24px;
  color: #ffffff;
  background-color: #3333ff;
  font-style: italic;

}
