.spot1{
  width: 30%;
  float: left;;
  height: auto;
  border-style: dashed;
  background-color:  #86592d;
  margin-right: 20px;
  padding: 20px;
}

.spot2{
  width: 30%;
  float: left;;
  height: auto;
  border-style: dashed;
  background-color: #00ff00;
  margin-right: 20px;
  padding: 20px;
}

.spot3{
  width: 30%;
  float: left;;
  height: auto;
  border-style: dashed;
  background-color:  #ffd11a;
  margin-right: 20px;
  padding: 20px;
}


.style{
  font-size: 48px;
  color: #ffffff;
  background-color: #ff0066;
  font-family: cursive;
}

body {
  background-color: lightblue;
}

h3 {
  float: left;
  height: auto;
}
