.intro{
  font-size: 12px;
  font-family: monospace;
  text-align: center;
  font-style: normal;
  color: #ffffff;
  background-color: #000000
}

img{
  width: 40%;
  margin: 10px 40%
}

.raise{
  color: red;
  line-height: 50px;
}
